finder_api_v3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hios.cms.org/api" targetNamespace="http://hios.cms.org/api" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://hios.cms.org/api-types" schemaLocation="hios-api-types-11.0.xsd"/>
	<xs:element name="ZipCodeValidationRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ZipCode" type="ZipCodeType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ZipCodeValidationResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResponseHeader" type="ResponseHeaderType"/>
				<xs:element name="Counties">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="County" type="CountyType" minOccurs="0" maxOccurs="100"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="ZipCodeValidationRequest" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlanQuoteRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Enrollees" type="EnrolleeType" minOccurs="1" maxOccurs="10"/>
				<xs:element name="Location" type="LocationType"/>
				<xs:element name="InsuranceEffectiveDate" type="xs:date"/>
				<xs:element name="Market" type="MarketType"/>
				<xs:element name="IsFilterAnalysisRequiredIndicator" type="xs:boolean" default="false" minOccurs="0"/>
				<xs:element name="PaginationInformation" type="PaginationInformationType" minOccurs="0"/>
				<xs:element name="SortOrder" type="PlanSortOrderType" minOccurs="0"/>
				<xs:element name="Filter" type="PlanFilterType" minOccurs="0"/>
				<xs:element name="ComparePlans" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PlanId" type="PlanIDType" minOccurs="0" maxOccurs="10"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlanQuoteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResponseHeader" type="ResponseHeaderType"/>
				<xs:element name="TotalEligiblePlansQuantity" type="xs:int"/>
				<xs:element name="PaginationInformation" type="PaginationInformationType"/>
				<xs:element name="Plans">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Plan" type="PlanType" minOccurs="0" maxOccurs="5000"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="FilterAnalysis" type="PlanFilterAnalysisType" minOccurs="0"/>
				<xs:element name="ComparePlans" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Plan" type="PlanType" minOccurs="0" maxOccurs="10"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="PlanQuoteRequest" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlanBenefitRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Enrollees" type="EnrolleeType" minOccurs="1" maxOccurs="10"/>
				<xs:element name="Location" type="LocationType"/>
				<xs:element name="InsuranceEffectiveDate" type="xs:date"/>
				<xs:element name="Market" type="MarketType"/>
				<xs:element name="PlanIds">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PlanId" type="PlanIDType" minOccurs="0" maxOccurs="10"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlanBenefitResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResponseHeader" type="ResponseHeaderType"/>
				<xs:element name="PlanBenefits">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PlanBenefit" type="PlanBenefitsType" minOccurs="0" maxOccurs="10"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="PlanBenefitRequest" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="CountyType">
		<xs:sequence>
			<xs:element name="FipsCode" type="FipsCodeType"/>
			<xs:element name="CountyName" type="CountyNameType"/>
			<xs:element name="StateCode" type="StateCodeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LocationType">
		<xs:sequence>
			<xs:element name="ZipCode" type="ZipCodeType"/>
			<xs:element name="County" type="CountyType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ZipCodeType">
		<xs:annotation>
			<xs:documentation>allow 5 digit format </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{5})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FipsCodeType">
		<xs:annotation>
			<xs:documentation>allow 5 digit format </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{5})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountyNameType">
		<xs:annotation>
			<xs:documentation>allow max 60 characters </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
			<xs:pattern value="([a-zA-z \-,'.])+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NameTextType">
		<xs:annotation>
			<xs:documentation>allow max 512 characters </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="512"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EnrolleeType">
		<xs:sequence>
			<xs:element name="DateOfBirth" type="xs:date"/>
			<xs:element name="Gender" type="GenderType"/>
			<xs:element name="TobaccoLastUsedMonths" type="xs:int" minOccurs="0"/>
			<xs:element name="Relation" type="RelationType"/>
			<xs:element name="InHouseholdIndicator" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="GenderType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Male"/>
			<xs:enumeration value="Female"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MarketType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Individual"/>
			<xs:enumeration value="SmallGroup"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RelationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SELF"/>
			<xs:enumeration value="SPOUSE"/>
			<xs:enumeration value="CHILD"/>
			<xs:enumeration value="FATHER_MOTHER"/>
			<xs:enumeration value="GRANDFATHER_GRANDMOTHER"/>
			<xs:enumeration value="GRANDSON_GRANDDAUGHTER"/>
			<xs:enumeration value="UNCLE_AUNT"/>
			<xs:enumeration value="NEPHEW_NIECE"/>
			<xs:enumeration value="COUSIN"/>
			<xs:enumeration value="ADOPTED_CHILD"/>
			<xs:enumeration value="FOSTER_CHILD"/>
			<xs:enumeration value="SON_IN_LAW_DAUGHTER_IN_LAW"/>
			<xs:enumeration value="BROTHER_IN_LAW_SISTER_IN_LAW"/>
			<xs:enumeration value="MOTHER_IN_LAW_FATHER_IN_LAW"/>
			<xs:enumeration value="BROTHER_SISTER"/>
			<xs:enumeration value="WARD"/>
			<xs:enumeration value="STEPPARENT"/>
			<xs:enumeration value="STEPSON_STEPDAUGHTER"/>
			<xs:enumeration value="SPONSORED_DEPENDENT"/>
			<xs:enumeration value="DEPENDENT_MINOR_DEPENDENT"/>
			<xs:enumeration value="EX_SPOUSE"/>
			<xs:enumeration value="GUARDIAN"/>
			<xs:enumeration value="COURT_APPOINTED_GUARDIAN"/>
			<xs:enumeration value="COLLATERAL_DEPENDENT"/>
			<xs:enumeration value="LIFE_PARTNER"/>
			<xs:enumeration value="ANNULTANT"/>
			<xs:enumeration value="TRUSTEE"/>
			<xs:enumeration value="OTHER_RELATIONSHIP"/>
			<xs:enumeration value="OTHER_RELATIVE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PlanIDType">
		<xs:annotation>
			<xs:documentation>allow 14 characters </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([a-zA-z0-9]{14})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProductIDType">
		<xs:annotation>
			<xs:documentation>allow 10 characters </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([a-zA-z0-9]{10})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IssuerIDType">
		<xs:annotation>
			<xs:documentation>allow 5 digits </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{5})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PaginationInformationType">
		<xs:sequence>
			<xs:element name="PageNumber" type="PageNumberType" default="1"/>
			<xs:element name="PageSize" type="PageSizeType" default="10"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PageSizeType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PageNumberType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PlanSortOrderType">
		<xs:sequence>
			<xs:element name="SortField" type="PlanSortFieldsType" default="BASE RATE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SortDirection" type="SortDirectionType" default="ASC" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PlanSortFieldsType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BASE RATE"/>
			<xs:enumeration value="OOP LIMIT - INDIVIDUAL - IN NETWORK"/>			
			<xs:enumeration value="ANNUAL DEDUCTIBLE - INDIVIDUAL - IN NETWORK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SortDirectionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ASC"/>
			<xs:enumeration value="DESC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PlanFilterType">
		<xs:sequence>
			<xs:element name="ProviderTypes" type="ProviderType" minOccurs="0" maxOccurs="5"/>
			<xs:element name="Issuers" type="IssuerIDType" minOccurs="0" maxOccurs="500"/>
			<xs:element name="MetalLevel" type="MetalTierType" minOccurs="0" maxOccurs="5"/>
			<xs:element name="AnnualDeductibleFilterRange" type="AnnualDeductibleFilterRangeType" minOccurs="0" maxOccurs="6"/>
			<xs:element name="AnnualOutOfPocketFilterRange" type="AnnualOutOfPocketFilterRangeType" minOccurs="0" maxOccurs="4"/>
			<xs:element name="BaseRateFilterRange" type="BaseRateFilterRangeType" minOccurs="0" maxOccurs="10"/>
			<xs:element name="HSAEligibleIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="DomesticPartnerIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="SameSexIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="MaternityCoverageIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="MentalCoverageIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="SubstanceAbuseCoverageIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="DentalCoverageIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="VisionCoverageIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="WellnessPorgramCoverageIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="DrugCoverageIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="ChildOnlyCoverageIndicator" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AnnualDeductibleFilterRangeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="$0-$500"/>
			<xs:enumeration value="$500-$1000"/>
			<xs:enumeration value="$1000-$2500"/>
			<xs:enumeration value="$2500-$5000"/>
			<xs:enumeration value="$5000-$10000"/>
			<xs:enumeration value="$10000-and-above"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AnnualDeductibleFilterAnalysisType">
		<xs:sequence>
			<xs:element name="Filter" type="AnnualDeductibleFilterRangeType"/>
			<xs:element name="Quantity" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AnnualOutOfPocketFilterRangeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="$0-$1000"/>
			<xs:enumeration value="$1000-$2500"/>
			<xs:enumeration value="$2500-$5000"/>
			<xs:enumeration value="$5000-$10000"/>
			<xs:enumeration value="$10000-and-above"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AnnualOutOfPocketFilterAnalysisType">
		<xs:sequence>
			<xs:element name="Filter" type="AnnualOutOfPocketFilterRangeType"/>
			<xs:element name="Quantity" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>	
	<xs:simpleType name="BaseRateFilterRangeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="$0-$100"/>
			<xs:enumeration value="$100-$200"/>
			<xs:enumeration value="$200-$300"/>
			<xs:enumeration value="$300-$400"/>
			<xs:enumeration value="$400-$500"/>
			<xs:enumeration value="$500-$600"/>
			<xs:enumeration value="$600-$700"/>
			<xs:enumeration value="$700-$800"/>
			<xs:enumeration value="$800-$900"/>
			<xs:enumeration value="$900-$1000"/>
			<xs:enumeration value="$1000-and-above"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BaseRateFilterAnalysisType">
		<xs:sequence>
			<xs:element name="Filter" type="BaseRateFilterRangeType"/>
			<xs:element name="Quantity" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PercentType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PlanType">
		<xs:sequence>
			<xs:element name="PlanID" type="PlanIDType"/>
			<xs:element name="PlanNameText" type="NameTextType"/>
			<xs:element name="ProductID" type="ProductIDType"/>
			<xs:element name="ProductNameText" type="NameTextType"/>
			<xs:element name="IssuerID" type="IssuerIDType"/>
			<xs:element name="IssuerNameText" type="NameTextType"/>
			<xs:element name="IssuerStateCode" type="StateCodeType"/>
			<xs:element name="IssuerTollFreeNumber" type="PhoneNumberType" nillable="true"/>
			<xs:element name="IssuerLocalNumber" type="PhoneNumberType" nillable="true"/>
			<xs:element name="IssuerTTYNumber" type="PhoneNumberType" nillable="true"/>
			<xs:element name="ProviderType" type="ProviderType"/>
			<xs:element name="BaseRateAmount" type="xs:decimal"/>
			<xs:element name="MetalTierType" type="MetalTierType"/>
			<xs:element name="HSAEligibleIndicator" type="xs:boolean"/>
			<xs:element name="ChildOnlyIndicator" type="xs:boolean"/>
			<xs:element name="SameSexPartnerIndicator" type="xs:boolean"/>
			<xs:element name="DomesticPartnerIndicator" type="xs:boolean"/>
			<xs:element name="MaternityCoverageIndicator" type="xs:boolean"/>
			<xs:element name="MentalCoverageIndicator" type="xs:boolean"/>
			<xs:element name="SubstanceAbuseCoverageIndicator" type="xs:boolean"/>
			<xs:element name="DrugCoverageIndicator" type="xs:boolean"/>
			<xs:element name="DentalCoverageIndicator" type="xs:boolean"/>
			<xs:element name="VisionCoverageIndicator" type="xs:boolean"/>
			<xs:element name="WellnessPorgramCoverageIndicator" type="xs:boolean"/>						
			<xs:element name="FamilyAnnualDeductibleAmount" type="AmountDeductibleType" nillable="true"/>
			<xs:element name="IndividualAnnualDeductibleAmount" type="AmountDeductibleType" nillable="true"/>
			<xs:element name="FamilyAnnualOOPLimitAmount" type="AmountDeductibleType" nillable="true"/>
			<xs:element name="IndividualAnnualOOPLimitAmount" type="AmountDeductibleType" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PhoneNumberType">
		<xs:annotation>
			<xs:documentation>allow 11 digits </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{11})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PlanBenefitsType">
		<xs:complexContent>
			<xs:extension base="PlanType">
				<xs:sequence>
					<!-- The below elements need to be reviewed/validated and map it to benefits template-->
					<xs:element name="IssuerURL" type="UrlType" nillable="true"/>
					<xs:element name="ProviderURL" type="UrlType" nillable="true"/>
					<xs:element name="PlanSummaryBenefitURL" type="UrlType" nillable="true"/>
					<xs:element name="PlanBrochureURL" type="UrlType" nillable="true"/>
					<!--  Geographic Coverage-->
					<xs:element name="DiseaseManagementProgramsOfferedText" type="xs:string" nillable="true"/>
					<xs:element name="OutOfServiceAreaCoverageIndicator" type="xs:boolean"/>
					<xs:element name="OutOfServiceAreaCoverageIndicatorText" type="xs:string" nillable="true"/>
					<xs:element name="OutOfCountryCoverageIndicator" type="xs:boolean"/>
					<xs:element name="OutOfCountryCoverageIndicatorText" type="xs:string" nillable="true"/>
					<xs:element name="NationalNetworkIndicator" type="xs:boolean"/>
					<!-- Dental/Vision coverage-->
					<xs:element name="BasicDentalAdultCoverageIndicator" type="xs:boolean"/>
					<xs:element name="BasicDentalChildCoverageIndicator" type="xs:boolean"/>
					<xs:element name="RoutineDentalAdultCoverageIndicator" type="xs:boolean"/>
					<xs:element name="RoutineDentalChildCoverageIndicator" type="xs:boolean"/>
					<xs:element name="MajorDentalAdultCoverageIndicator" type="xs:boolean"/>
					<xs:element name="MajorDentalChildCoverageIndicator" type="xs:boolean"/>
					<xs:element name="OrthodontiaAdultCoverageIndicator" type="xs:boolean"/>
					<xs:element name="OrthodontiaChildCoverageIndicator" type="xs:boolean"/>					
					<xs:element name="RoutineEyeExamAdultCoverageIndicator" type="xs:boolean"/>
					<xs:element name="RoutineEyeExamChildCoverageIndicator" type="xs:boolean"/>
					<xs:element name="EyeGlassesChildrenCoverageIndicator" type="xs:boolean"/>
					<!--Other services -->
					<xs:element name="PrimaryCareVisit" type="BenefitCostShareType" nillable="true"/>
					<xs:element name="SpecialistVisit" type="BenefitCostShareType" nillable="true"/>
					<xs:element name="ReferralRequiredSpecialistIndicator" type="xs:boolean"/>
					<xs:element name="ReferralRequiredSpecialistText" type="xs:string" nillable="true"/>
					<xs:element name="Imaging" type="BenefitCostShareType" nillable="true"/>
					<xs:element name="XRayDiagnosticImaging" type="BenefitCostShareType" nillable="true"/>
					<xs:element name="LaboratoryOutPatientProfessionalServices" type="BenefitCostShareType" nillable="true"/>
					<xs:element name="InpatientHospitalServices" type="BenefitCostShareType" nillable="true"/>
					<xs:element name="InpatientPhysicianAndSurgicalService" type="BenefitCostShareType" nillable="true"/>
					<xs:element name="MaximumNumberOfDaysChargingInpatientCopay" type="xs:int" nillable="true"/>
					<xs:element name="EmergencyRoomServices" type="BenefitCostShareType" nillable="true"/>
					<xs:element name="EmergencyTransportationAmbulanceService" type="BenefitCostShareType" nillable="true"/>
					<xs:element name="GenericDrugs" type="BenefitCostShareType" nillable="true"/>					
					<xs:element name="PreferredBrandDrugs" type="BenefitCostShareType" nillable="true"/>					
					<xs:element name="NonPreferredBrandDrugs" type="BenefitCostShareType" nillable="true"/>					
					<xs:element name="SpecialityDrugs" type="BenefitCostShareType" nillable="true"/>					
					<xs:element name="MentalHealthOutPatientServices" type="BenefitCostShareType" nillable="true"/>
					<xs:element name="MentalHealthIntPatientServices" type="BenefitCostShareType" nillable="true"/>					
					<xs:element name="SubstanceAbuseDisorderOutPatientServices" type="BenefitCostShareType" nillable="true"/>
					<xs:element name="SubstanceAbuseDisorderInPatientServices" type="BenefitCostShareType" nillable="true"/>
					<xs:element name="NoticeRequiredForPregnancyIndicator" type="xs:boolean"/>					
					<xs:element name="PrenatalAndPostnatalCare" type="BenefitCostShareType" nillable="true"/>
					<xs:element name="DeliveryAndAllInpatientServicesMaternityCare" type="BenefitCostShareType" nillable="true"/>
					
					<xs:element name="IncludedBenefits" type="BenefitsList" nillable="true"/>
					<xs:element name="ExcludedBenefits" type="BenefitsList" nillable="true"/>
					<xs:element name="LimitedBenefits" type="BenefitsList" nillable="true"/>					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="BenefitsList">
		<xs:sequence>
			<xs:element name="BenefitName" type="xs:string" minOccurs="0" maxOccurs="500"/>			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AmountDeductibleType">
		<xs:choice>
			<xs:element name="Amount" type="xs:decimal"/>			
			<xs:element name="NotApplicable" type="xs:string" fixed="Not Applicable"/>
		</xs:choice>
	</xs:complexType>
	
	<xs:simpleType name="MetalTierType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Platinum"/>
			<xs:enumeration value="Gold"/>
			<xs:enumeration value="Silver"/>
			<xs:enumeration value="Bronze"/>
			<xs:enumeration value="Catastrophic"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProviderType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Indemnity"/>
			<xs:enumeration value="HMO"/>
			<xs:enumeration value="PPO"/>
			<xs:enumeration value="EPO"/>
			<xs:enumeration value="POS"/>
			<xs:enumeration value="Other/Describe"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="UrlType">
		<xs:sequence>
			<xs:element name="URLCode" type="URLCodeType" nillable="true"/>
			<xs:element name="URLAddress" type="URLAddressType" nillable="true"/>
			<xs:element name="AlternateText" type="NameTextType" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="URLCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Valid"/>
			<xs:enumeration value="Not Valid"/>
			<xs:enumeration value="No Link"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="URLAddressType">
		<xs:restriction base="xs:anyURI"/>
		<!-- TODO: Add url validations here -->
	</xs:simpleType>
	
	
	<xs:complexType name="BenefitCostShareType">
		<xs:sequence>
			<xs:element name="CoPayInNetworkTier1" type="CoPayInsuranceCoverageType" nillable="true"/>
			<xs:element name="CoInsuranceInNetworkTier1" type="CoPayInsuranceCoverageType" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CoPayInsuranceCoverageType">
		<xs:sequence>
			<xs:element name="Benefit" type="xs:string" />
			<xs:choice minOccurs="0" maxOccurs="1">
				<xs:element name="Amount" type="xs:decimal"/>
				<xs:element name="Percent" type="PercentType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="PlanFilterAnalysisType">
		<xs:sequence>
			<xs:element name="ProviderTypes" type="ProviderTypeFilterAnalysisType" minOccurs="0" maxOccurs="6"/>
			<xs:element name="IssuerIDs" type="IssuerFilterAnalysisType" minOccurs="0" maxOccurs="500"/>
			<xs:element name="MetalLevel" type="MetalTierFilterAnalysisType" minOccurs="0" maxOccurs="5"/>
			<xs:element name="AnnualIndividualInNetworkDeductible" type="AnnualDeductibleFilterAnalysisType" minOccurs="0" maxOccurs="6"/>
			<xs:element name="AnnualIndividualInNetworkOOPLimit" type="AnnualOutOfPocketFilterAnalysisType" minOccurs="0" maxOccurs="5"/>
			<xs:element name="BaseRate" type="BaseRateFilterAnalysisType" minOccurs="0" maxOccurs="11"/>
			<xs:element name="HSAEligibleIndicator" type="BooleanFilterAnalysisType" minOccurs="0" maxOccurs="2"/>
			<xs:element name="DomesticPartnerIndicator" type="BooleanFilterAnalysisType" minOccurs="0" maxOccurs="2"/>
			<xs:element name="SameSexIndicator" type="BooleanFilterAnalysisType" minOccurs="0" maxOccurs="2"/>
			<xs:element name="MaternityCoverageIndicator" type="BooleanFilterAnalysisType" minOccurs="0" maxOccurs="2"/>
			<xs:element name="MentalCoverageIndicator" type="BooleanFilterAnalysisType" minOccurs="0" maxOccurs="2"/>
			<xs:element name="SubstanceAbuseCoverageIndicator" type="BooleanFilterAnalysisType" minOccurs="0" maxOccurs="2"/>
			<xs:element name="DentalCoverageIndicator" type="BooleanFilterAnalysisType" minOccurs="0" maxOccurs="2"/>
			<xs:element name="VisionCoverageIndicator" type="BooleanFilterAnalysisType" minOccurs="0" maxOccurs="2"/>
			<xs:element name="WellnessPorgramCoverageIndicator" type="BooleanFilterAnalysisType" minOccurs="0" maxOccurs="2"/>
			<xs:element name="DrugCoverageIndicator" type="BooleanFilterAnalysisType" minOccurs="0" maxOccurs="2"/>
			<xs:element name="ChildOnlyCoverageIndicator" type="BooleanFilterAnalysisType" minOccurs="0" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProviderTypeFilterAnalysisType">
		<xs:sequence>
			<xs:element name="ProviderType" type="ProviderType"/>
			<xs:element name="Quantity" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MetalTierFilterAnalysisType">
		<xs:sequence>
			<xs:element name="MetalTierType" type="MetalTierType"/>
			<xs:element name="Quantity" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IssuerFilterAnalysisType">
		<xs:sequence>
			<xs:element name="IssuerID" type="IssuerIDType"/>
			<xs:element name="IssuerName" type="xs:string"/>
			<xs:element name="Quantity" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BooleanFilterAnalysisType">
		<xs:sequence>
			<xs:element name="Indicator" type="xs:boolean"/>
			<xs:element name="Quantity" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseHeaderType">
		<xs:sequence>
			<xs:element name="ReturnCode" type="ReturnCodeType"/>
			<xs:element name="ErrorMessage" type="xs:string" minOccurs="0" maxOccurs="100"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ReturnCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Success"/>
			<xs:enumeration value="Error"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StateCodeType">
		<xs:annotation>
			<xs:documentation>List of US States.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="AK">
				<xs:annotation>
					<xs:documentation>ALASKA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ME">
				<xs:annotation>
					<xs:documentation>MAINE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NJ">
				<xs:annotation>
					<xs:documentation>NEW JERSEY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WA">
				<xs:annotation>
					<xs:documentation>WASHINGTON</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AP">
				<xs:annotation>
					<xs:documentation>Armed Forces Pacific</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NY">
				<xs:annotation>
					<xs:documentation>NEW YORK</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IA">
				<xs:annotation>
					<xs:documentation>IOWA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MO">
				<xs:annotation>
					<xs:documentation>MISSOURI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CT">
				<xs:annotation>
					<xs:documentation>CONNECTICUT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AS">
				<xs:annotation>
					<xs:documentation>AMERICAN SAMOA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AA">
				<xs:annotation>
					<xs:documentation>Armed Forces Americas (except Canada)
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WY">
				<xs:annotation>
					<xs:documentation>WYOMING</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VI">
				<xs:annotation>
					<xs:documentation>VIRGIN ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GU">
				<xs:annotation>
					<xs:documentation>GUAM </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PR">
				<xs:annotation>
					<xs:documentation>PUERTO RICO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FM">
				<xs:annotation>
					<xs:documentation>FEDERATED STATES OF MICRONESIA
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OK">
				<xs:annotation>
					<xs:documentation>OKLAHOMA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OH">
				<xs:annotation>
					<xs:documentation>OHIO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MN">
				<xs:annotation>
					<xs:documentation>MINNESOTA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FL">
				<xs:annotation>
					<xs:documentation>FLORIDA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MD">
				<xs:annotation>
					<xs:documentation>MARYLAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VA">
				<xs:annotation>
					<xs:documentation>VIRGINIA </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GA">
				<xs:annotation>
					<xs:documentation>GEORGIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CO">
				<xs:annotation>
					<xs:documentation>COLORADO </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IN">
				<xs:annotation>
					<xs:documentation>INDIANA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SD">
				<xs:annotation>
					<xs:documentation>SOUTH DAKOTA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UT">
				<xs:annotation>
					<xs:documentation>UTAH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MI">
				<xs:annotation>
					<xs:documentation>MICHIGAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PW">
				<xs:annotation>
					<xs:documentation>PALAU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KY">
				<xs:annotation>
					<xs:documentation>KENTUCKY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DE">
				<xs:annotation>
					<xs:documentation>DELAWARE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CA">
				<xs:annotation>
					<xs:documentation>CALIFORNIA </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HI">
				<xs:annotation>
					<xs:documentation>HAWAII</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MA">
				<xs:annotation>
					<xs:documentation>MASSACHUSETTS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NM">
				<xs:annotation>
					<xs:documentation>NEW MEXICO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RI">
				<xs:annotation>
					<xs:documentation>RHODE ISLAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AL">
				<xs:annotation>
					<xs:documentation>ALABAMA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DC">
				<xs:annotation>
					<xs:documentation>DISTRICT OF COLUMBIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OR">
				<xs:annotation>
					<xs:documentation>OREGON</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TX">
				<xs:annotation>
					<xs:documentation>TEXAS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LA">
				<xs:annotation>
					<xs:documentation>LOUISIANA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TN">
				<xs:annotation>
					<xs:documentation>TENNESSEE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NE">
				<xs:annotation>
					<xs:documentation>NEBRASKA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NC">
				<xs:annotation>
					<xs:documentation>NORTH CAROLINA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AZ">
				<xs:annotation>
					<xs:documentation>ARIZONA </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NH">
				<xs:annotation>
					<xs:documentation>NEW HAMPSHIRE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WV">
				<xs:annotation>
					<xs:documentation>WEST VIRGINIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IL">
				<xs:annotation>
					<xs:documentation>ILLINOIS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AR">
				<xs:annotation>
					<xs:documentation>ARKANSAS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MT">
				<xs:annotation>
					<xs:documentation>MONTANA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VT">
				<xs:annotation>
					<xs:documentation>VERMONT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MS">
				<xs:annotation>
					<xs:documentation>MISSISSIPPI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SC">
				<xs:annotation>
					<xs:documentation>SOUTH CAROLINA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KS">
				<xs:annotation>
					<xs:documentation>KANSAS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NV">
				<xs:annotation>
					<xs:documentation>NEVADA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MP">
				<xs:annotation>
					<xs:documentation>NORTHERN MARIANA ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MH">
				<xs:annotation>
					<xs:documentation>MARSHALL ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AE">
				<xs:annotation>
					<xs:documentation>Armed Forces Africa, Canada, Europe, Middle East
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ND">
				<xs:annotation>
					<xs:documentation>NORTH DAKOTA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ID">
				<xs:annotation>
					<xs:documentation>IDAHO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PA">
				<xs:annotation>
					<xs:documentation>PENNSYLVANIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WI">
				<xs:annotation>
					<xs:documentation>WISCONSIN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
